@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05rem;
}

:root {
    --darkblue-color:#000B4F;
    --blue-color:#20368F;
    --lightblue-color:#829CD0;
    --white-color:#EBEBEB;
    --gray-color:#6D6D6D;
    --black-color:#323232;
    --btn-border-radius: 0.75rem;
    --btn-padding: 0.75rem 1rem;
}

/* close default */

nav{
    position: fixed;
    display: flex;
    max-height: 2.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
}

.name{
    width: 50%;
    font-size: 0.5rem; 
}

.toggleBtn-container{
    display: flex;
    padding: 0;
    font-size: 2rem;
}

.bx-x{
    display: flex;
    z-index: 100;
}

.bx-x:hover{
    color: var(--lightblue-color);
}

.bx-x.hideBtn{
    display: none;
}

.bx-menu.hideBtn{
    display: none;
    z-index: 0;
}

.menu{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--blue-color);
}

.menu-container{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    max-width: 12rem;
    height: 50vh;
}

.menu-container.showNavMenu{
    display: flex;    
}

.menu li{
    list-style: none;
    width: 100%;
    height: 100%;
}

.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
    color: var(--white-color);
}

.menu li a:hover{
    background-color: var(--lightblue-color);
    color: var(--black-color);
}
/* close  nav */

main{
    width: 95%;
    margin:0 auto;
}

.banner{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
}

.banner-page-container{
    height: 80vh;
    margin: auto 0;
}

.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-img{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profile-img{
    max-width: 14rem;
    width: 65%;
}

.contact-icon{
    display: flex;
    gap: 0.5rem ;
}

.linkedin-icon{
    font-size: 1.5rem;
    color: #0e76a8;
}

.github-icon{
    font-size: 1.5rem;
    color: #000;
}

.banner-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.introduce span{
    color: var(--blue-color);
}

.btn-container{
    margin-top: 0.75rem;
    display: flex;
    gap: 0.75rem;
}

.resumeBtn{
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: var(--btn-padding);
    border-style: none;
    border-radius: var(--btn-border-radius);
}

.contactBtn{
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: var(--btn-padding);
    border-style: none;
    border-radius: var(--btn-border-radius);
}
/* close banner */

.about{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
}

.about-page-container{
    height: 80vh;
}

.about-header{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.about-container span{
    color: var(--blue-color);
    font-weight: 700;
    font-size: 1rem;
}
/* close about */

.skills{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
}

.skills-page-container{
    height: 80vh;
    margin: auto 0;
}

.skills-header{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem; 
}

.skills-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 0.75rem;
}

.professional{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills-icon-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    place-content: center;
    font-size: 4rem;
}

.html-icon{
    color: #e34f26;
}

.css-icon{
    color: #264de4;
}

.javascript-icon{
    color: #f0db4f;
}

.react-icon{
    color: #61DBFB;
}

.nodeJs-icon{
    color: #68A063;
}

.python-icon{
    color: #306998;
}
/* close skill */

.projects{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
}

.project-page-container{
    height: 80vh;
    margin: auto 0;
}

.projects-header{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem; 
}

.projects-container{
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
    max-height: 26.5rem;
}

.project-box{
    max-width: 37.5rem;
}

.project-img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto;
}

.project-img img{
    width: 100%;
}

.project-name{
    text-align: center;
    color: var(--blue-color);
    font-size: 1.25rem;
}

.slide-btn{
    display: flex;
    justify-content: center;
    margin: 0.75rem auto 1rem;
}

.slide-btn button{
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    background-color: var(--blue-color);
    color: var(--white-color);
    border-style: none;
}
/* close projects */

.contact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
}

.contact-page-container{
    height: 80vh;
    margin: auto 0;
}

.contact-header{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem; 
}

.contact-container{
    max-width: 25rem;
    padding: 0.5rem 0.75rem;
    margin: 0 auto;
}

#name{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--black-color);
    border-radius: var(--btn-border-radius);
}

#email{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--black-color);
    border-radius: var(--btn-border-radius);
}

#message{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--black-color);
    border-radius: var(--btn-border-radius);
}

#submit{
    margin: 0 auto;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: var(--btn-padding);
    border-style: none;
    border-radius: var(--btn-border-radius);
    width: fit-content;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 0.75rem;
}
/* close contact */

.footer-container{
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
}

.socialMedia-container{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 4rem;
}

.bxl-twitter{
    color: #00acee;
}

.bxl-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 25%;
}

.bxl-youtube{
    color: #FF0000;
    background-color: #FFF;
    border-radius: 25%;
}

.copyright{
    font-size: 0.75rem;
}
/* close footer */

@media only screen and (min-width:600px) and (max-width: 1024px) {

    nav{
        max-height: 3rem;
    }

    .name{
        font-size: 1rem;
    }

    .menu{
        font-size: 2rem;
    }

    .menu-container{
        max-width: 100%;
    }

    .banner{
        justify-content: center;
        height: 37.5vh;
        font-size: 1.5rem;
        padding-top: 3rem;
    }

    .banner-page-container{
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .banner-img{
        height: auto;
    }

    .banner-info{
        height: auto;
    }

    .profile-img{
        width: 100%;
    }
/* close banner */

    .about{
        height: 62.5vh;
        padding-top: 3rem;
    }

    .about-page-container{
        height: auto;
        margin: 0 auto;
    }

    .about-header{
        font-size: 2rem;
    }

    .about-container{
        font-size: 1.5rem;
        max-height: 100%;
    }

    .about-container span{
        font-size: 2rem;
    }
/* close about */

    .skills{
        height: 50vh;
        padding-top: 3rem;
    }

    .skills-page-container{
        height: auto;
    }

    .skills-header{
        font-size: 2rem;
    }

    .professional{
        font-size: 1.25rem;
    }

    .skills-icon-container{
        font-size: 5rem;
    }
/* close skills */

    .projects{
        height: 50vh;
        padding-top: 3rem;
    }

    .projects-header{
        font-size: 2rem;
    }

    .project-name{
        font-size: 2rem;
    }

    .project-box{
        max-width: 100%;
    }

    .project-info{
        font-size: 1.25rem;
    }

    .slide-btn button{
        font-size: 1rem;
    }
/* close projects */

    .contact{
        height: 85vh;
        margin-top: 10%;
        padding-top: 3rem;
    }
    
    .contact-page-container{
        height: auto;
    }

    .contact-container{
        max-width: 80%;
    }

    .contact-header{
        font-size: 2rem;
    }

    #name{
        font-size: 1.5rem;
    }

    #email{
        font-size: 1.5rem;
    }

    #message{
        font-size: 1.5rem;
    }

    #submit{
        font-size: 1.5rem;
    }

}

@media only screen and (min-width:1024px) and (max-width: 2560px) {

    nav{
        max-height: 5rem;
    }

    .name{
        font-size: 1rem;
    }

    .menu{
        font-size: 2rem;
        position: relative;
        margin: 0;
    }

    .menu-container{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        background-color: var(--darkblue-color);
        width: 60vw;
    }

    .menu-container li{
        width: fit-content;
    }

    .menu-container li a{
        width: 100%;
    }

    .toggleBtn-container{
        display: none;
    }

    .banner{
        justify-content: center;
        height: 37.5vh;
        font-size: 1.5rem;
        padding-top: 3rem;
    }

    .banner-page-container{
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .banner-img{
        height: auto;
    }

    .banner-info{
        height: auto;
    }

    .profile-img{
        width: 100%;
    }
/* close banner */

    .about{
        height: 62.5vh;
        padding-top: 3rem;
    }

    .about-page-container{
        height: auto;
        margin: 0 auto;
    }

    .about-header{
        font-size: 2rem;
    }

    .about-container{
        font-size: 1.5rem;
        max-height: 100%;
    }

    .about-container span{
        font-size: 2rem;
    }
/* close about */

    .skills{
        height: 50vh;
        padding-top: 3rem;
    }

    .skills-page-container{
        height: auto;
    }

    .skills-header{
        font-size: 2rem;
    }

    .professional{
        font-size: 1.25rem;
    }

    .skills-icon-container{
        font-size: 5rem;
    }
/* close skills */

    .projects{
        height: 50vh;
        padding-top: 3rem;
    }

    .projects-page-container{
        height: 100%;
    }

    .projects-container{
        max-height: 100%;
    }

    .projects-header{
        font-size: 2rem;
    }

    .project-name{
        font-size: 2rem;
    }

    .project-box{
        max-width: 40rem;
    }

    .project-info{
        font-size: 1.25rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .slide-btn button{
        font-size: 1rem;
        margin-top: 5%;
    }
/* close projects */

    .contact{
        height: 85vh;
        margin-top: 10%;
        padding-top: 3rem;
    }
    
    .contact-page-container{
        height: auto;
    }

    .contact-container{
        max-width: 80%;
    }

    .contact-header{
        font-size: 2rem;
    }

    #name{
        font-size: 1.5rem;
    }

    #email{
        font-size: 1.5rem;
    }

    #message{
        font-size: 1.5rem;
    }

    #submit{
        font-size: 1.5rem;
    }

}
